spring:
  session:
    store-type: redis

  data:
    redis:
      host: localhost
      port: 6379

server:
  servlet:
    session:


mybatis:    #이것이 마이바티스가 맵핑하고  JPA가 확인설정 가능하게 해줌
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: session.member.dto
  configuration:
    map-underscore-to-camel-case: true