services:
  db:
    image: gvenzl/oracle-xe:21-slim  #서비스명 (오라클형식 지정 주로XEPDB1)
    profiles: ["member"]#DB설정
    environment:
      ORACLE_PASSWORD: "1234"
      APP_USER: "MEMBER"
      APP_USER_PASSWORD: "1234"
    ports:
      - "2521:1521"
    volumes:
      - board-oracle-data:/opt/oracle/oradata
      - ./db/init:/container-entrypoint-initdb.d  #해당경로 지정
    restart: unless-stopped 



  redis-session:
    image: redis:docker
    profiles: ["member"]#리디스
    restart: unless-stopped
    ports:
      - "6379:6379"

  app:
    image: joung11/member-backend:0.42
    profiles: ["member"]#백엔드설치
    depends_on:
      - db
      - redis-session

    ports:
      - "9086:8086"
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: "docker"
      LOG_DIR: "/var/log/member"

      SPRING_DATASOURCE_URL: "jdbc:p6spy:oracle:thin:@//db:1521/XEPDB1"
      SPRING_DATASOURCE_USERNAME: "MEMBER"
      SPRING_DATASOURCE_PASSWORD: "1234"
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: "com.p6spy.engine.spy.P6SpyDriver"

      SPRING_DATA_REDIS_HOST: "redis-session"
      SPRING_DATA_REDIS_PORT: "6379"
      SPRING_SESSION_STORE_TYPE: "redis"


volumes:
  board-oracle-data: