<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="session.member.mapper.Onboarding.OnboardingMapper">


    <select id="selectAuthenticationIdByUserId"
            parameterType="long"
            resultType="long">
        SELECT authentication_id
        FROM MEMBER.member_authentication
        WHERE user_id = #{userId}
    </select>


</mapper>

<!--온보딩(Onboarding) 모듈에서도 필요 (상세가입용으로 분기점을 편하게 관리하기위해 따로뺌 )-->